#main{height:1000px;width:90%;}

#right{height:450px;width:80%;background-color:#5975a0; float:right;}
#one{height:100px;width:30%;background-color:#5975a0; float:right;}
#two{height:100px;width:40%;background-color:#5975a0; float:left;}
#three{height:100px;width:30%;background-color:#7589a8; float:right;}
#left{height:450px;width:20%;}

