#main{background-color:rgba(6, 120, 172, 0.767);}
#rediff{color: rgba(253, 154, 72, 0.979);}
#left{background-color:rgba(253, 154, 72, 0.979); width: 20% ; height: 410px;}
#right{background-color:rgba(6, 120, 172, 0.767); width: 80%; float: right; height: 410px;}

#first{color: rgba(253, 154, 72, 0.979) }

